.container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 140vh;
    gap: 250px;
    background: url('../../public/assets/images/noise.png'),
    -webkit-linear-gradient(linear-gradient(45deg, #ffff003b, #be34547c, #be3454c2, #BE3455));
    background: 
    url('../../public/assets/images/noise.png'),
    linear-gradient(45deg, #ffff003b, #be34547c, #be3454c2, #BE3455);
    
    .area-1 {
        margin-top: 220px;
        margin-left: 20px;
    
        .target-paragraph-1 {
            color: #BE3455;
            text-align: left;
            font-family: 'Unbounded';
            font-size: 48px;
            font-weight: 500;
          

            > span {
                &:nth-child(1) { 
                    color: #BE3455;
                }

                &:nth-child(2) {
                    display: block;
                    margin-top: 32px;
                    color: #FFF;
                    font-family: 'Plus Jakarta Sans';
                    font-size: 32px;
                    font-weight: 800;
                }

            }
        }
    }

    .image-area-2 {
        margin-right: 20px;
        margin-top: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:  688px;
        max-height: 702.706px;

        .img {
            max-width: 100%;
            height: auto;
        }
    }
}