.landing-page {
    text-align: center;
}

.section {
    margin-top: 10%;
}

.area-1 {
    display: flex;
    justify-content: center;
    
    .top-left-box {
        width: 130px;
        background: #BE3455;
        color: #F4E41E;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 900;
        margin-bottom: 60px;
        cursor: pointer;
    }

    h2 {
        font-size: 30px;
        text-align: left;

        .highlighted-word-grid-1 {
            display: contents;
            color: #454545;
            padding: 0 5px;
        }
    }

    p {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        .highlighted-word {
            display: inline;
            color: #454545;
            font-weight: bold;
        }
    }
    
    .grid-1-button {
        justify-content: left;
        display: flex;
    }

    button {
        font-size: 20px;
        border-radius: 20px;
        width: 350px;
        display: flex;
        justify-content: center;
        background: #BE3455;
        color: white;
        padding: 10px 20px;
        border: none;
        margin-top: 30px;
        cursor: pointer;

        &:hover {
            color: white;
            opacity: 0.5;
          }
    }

    .arrow-button {
        background-image: url("../../assets/arrow.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: bottom 9px right 50px;        
    }


    .grid-item-image {  
        height: auto;
        text-align: right;
        img {
            height: 70%;
        }
    }

    @media screen and (max-width: 1300px) {
      .arrow-button {
            background-image: none;  
        }
    }
    
}

@media screen and (max-width: 1000px) {
    .area-1 {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 40px;
        justify-content: center;
        & h2, p {
            text-align: center;
        }
    }

    .area-1 button {
        width: 200px;
    }

    .grid-1-button {
        justify-content: center !important;
        display: flex;
    }

    .grid-item-image {  
        margin-left: 0px !important;;
        height: auto;
        text-align: center !important;
    
        img {
            width: 40%;
            height: 90% !important;
        }
    }

    .area-2 {
        display: grid !important;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 40px;

        .grid-item-image {  
            height: auto;
            justify-content: center !important;
        }
        img {
            width: 60%;
            height: 90%;
        }
      }
}

.area-2 {
    display: flex;
    justify-content: center;
    
    h2 {
        font-size: 30px;
        & .highlighted-word-grid-2 {
            color: #BE3455;
        }
    }

    ul {     
        text-align: left;
        font-size: 15px;

        li {
            color: #454545;
            font-weight: 900;
            line-height: 1 !important;
        }
        li::marker {  
          font-size: 40px;
          color: #BE3455;
          
        }
      }

    .grid-item-image {  
        display: flex;
        justify-content: right;

        img {
            height: 70%;
        }
    }
}

// Area 3
.area-3 {

    h2 {
        font-size: 30px;
        & .highlighted-word-grid-3 {
            display: inline;
            color: #BE3455;
        }
    }

    h3 {
        color: #454545;
    }

    p {
        text-align: left;
        margin-left: 12px
    }

    .highlighted-word-grid-3-step {
        font-size: 12px;
        color: #696969;
    }

    .highlighted-word-grid-3-1 {
        font-size: 20px;
        font-weight: bold;
        color: #BE3455;
    }

    .highlighted-word-grid-3-2 {
        font-size: 12px;
        font-weight: bold;
        color: #454545;
    }

    .highlighted-word-grid-3-3 {
        font-size: 20px;
        font-weight: bold;
        color: #696969;
    }
    
    .image-container {
        display: flex;
        gap: 100px;
        justify-content: center;

        .image-container--image {
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.7);
            position: relative;
            height: 150px;
            width: 300px;
            cursor: pointer;

            img {
                position: absolute;
                right: 5px;
                bottom: 5px;
                width: 130px;
                height: 130px;
            }
        }
    }

    button {
        font-size: 20px;
        border-radius: 20px;
        width: 350px;
        background: #BE3455;
        color: white;
        padding: 15px 20px;
        border: none;
        margin-top: 30px;
        cursor: pointer;
        
        &:hover {
            color: white;
            opacity: 0.5;
          }
    }

    .arrow-button {
        background-image: url("../../assets/arrow.png");
        background-size: 25px; /* Set the size of the arrow image */
        background-repeat: no-repeat;
        background-position: bottom 13px right 90px;        
    }

    @media screen and (max-width: 1200px) {
        .image-container {
            display: grid;
            justify-content: center;
            grid-gap: 10px;
      }
      .arrow-button {
            background-image: none;  
        }
    }
}

// area 4
.area-4 {
    display: flex;
    justify-content: center;
    height: 270px;

    .card {
        width: 800px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 70px;
    }
    p {
        font-weight: bold;
        color: #454545;
        margin: 0;
        text-align: left;
        a {
            color: #BE3455;
        }
    }
    .icons {
        color: #BE3455;
        text-align: right;
        margin-top: -21px;
    }
}
