.image-container--image {
  background-color: #ffffff;
  border-radius: 22.22px;
  position: relative;
  width: 441.181px;
  height: 398px;
  overflow: hidden;
  text-overflow: ellipsis;
  & .target-paragraph-1 {
    display: block;
    font-family: "Plus Jakarta Sans";
    line-height: 40px;
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    @media (max-width: 1280px) {
      line-height: 30px;
    }
    > span {
      &:nth-child(1) {
        color: #696969;
        font-size: 20.857px;
        font-weight: 400;
        letter-spacing: -0.422px;
        @media (max-width: 1280px) {
          font-size: 15px !important;
        }
      }
      &:nth-child(2) {
        color: #be3455;
        font-size: 37.953px;
        font-weight: 700;
        letter-spacing: -0.768px;
        @media (max-width: 1280px) {
          font-size: 27px !important;
        }
      }
      &:nth-child(3) {
        color: #454545;
        font-size: 18.976px;
        font-weight: 800;
        line-height: 122%;
        letter-spacing: -0.384px;
        @media (max-width: 1280px) {
          font-size: 13px !important;
        }
      }
    }
  }
  & .target-paragraph-2 {
    display: block;
    font-family: "Plus Jakarta Sans";
    line-height: 40px;
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    @media (max-width: 1280px) {
      line-height: 30px;
    }
    > span {
      &:nth-child(1) {
        color: #696969;
        font-size: 20.857px;
        font-weight: 400;
        letter-spacing: -0.422px;
        @media (max-width: 1280px) {
          font-size: 13px !important;
        }
      }
      &:nth-child(2),
      &:nth-child(4) {
        color: #696969;
        font-size: 37.953px;
        font-weight: 700;
        letter-spacing: -0.768px;
        @media (max-width: 1280px) {
          font-size: 27px !important;
        }
      }
      &:nth-child(3) {
        color: #be3455;
        font-size: 37.953px;
        font-weight: 700;
        letter-spacing: -0.768px;
        @media (max-width: 1280px) {
          font-size: 27px !important;
        }
      }
      &:nth-child(5) {
        color: #454545;
        font-size: 18.976px;
        font-weight: 800;
        line-height: 122%;
        letter-spacing: -0.384px;
        @media (max-width: 1280px) {
          font-size: 13px !important;
        }
      }
    }
  }
  & .target-paragraph-3 {
    display: block;
    font-family: "Plus Jakarta Sans";
    text-align: left;
    padding-top: 25px;
    padding-left: 30px;
    > span {
      &:nth-child(1) {
        color: #696969;
        font-size: 20.857px;
        font-weight: 400;
        letter-spacing: -0.422px;
        @media (max-width: 1280px) {
          font-size: 15px !important;
        }
      }

      &:nth-child(2) {
        color: #696969;
        font-size: 41.714px;
        font-weight: 700;
        letter-spacing: -0.768px;
        @media (max-width: 1280px) {
          font-size: 30px !important;
        }
      }

      &:nth-child(3) {
        color: #be3455;
        font-size: 41.714px;
        font-weight: 700;
        letter-spacing: -0.768px;
        line-height: 1.5;
        @media (max-width: 1280px) {
          font-size: 30px !important;
        }
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        color: #454545;
        font-size: 18.976px;
        font-weight: 800;
        letter-spacing: -0.384px;
        @media (max-width: 1280px) {
          font-size: 13px !important;
        }
      }
    }
  }
  .img-1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 311.067px;
    height: 328.17px;
    border-radius: 20px;
    max-width: 100%;
    @media (max-width: 1280px) {
      width: 212px !important;
      height: 223px !important;
    }
  }
  .img-2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 291.867px;
    height: 328.434px;
    border-radius: 20px;
    max-width: 100%;
    @media (max-width: 1280px) {
      width: 199px !important;
      height: 224px !important;
    }
  }
  .img-3 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 320px;
    height: 260px;
    @media (max-width: 1280px) {
      width: 219px !important;
      height: 200px !important;
    }
    border-radius: 20px;
    max-width: 100%;
  }
}

@media (max-width: 1500px) {
  .image-container--image {
    width: 372px;
    height: 305px;
    @media (max-width: 1280px) {
      width: 331px;
      height: 271px;
    }
    @media (max-width: 800px) {
      width: 281px;
      height: 230px;
    }
    & .target-paragraph-1 {
      padding-top: 0px;

      > span {
        &:nth-child(1) {
          font-size: 17px;
          @media (max-width: 800px) {
            font-size: 12px !important;
          }
        }

        &:nth-child(2) {
          font-size: 32px;
          @media (max-width: 800px) {
            font-size: 23px !important;
          }
        }

        &:nth-child(3) {
          font-size: 16px;
          @media (max-width: 800px) {
            font-size: 11px !important;
          }
        }
      }
    }
    & .target-paragraph-2 {
      padding-top: 0px;

      > span {
        &:nth-child(1) {
          font-size: 17px;
          @media (max-width: 800px) {
            font-size: 12px !important;
          }
        }

        &:nth-child(2),
        &:nth-child(4) {
          font-size: 32px;
          @media (max-width: 800px) {
            font-size: 23px !important;
          }
        }

        &:nth-child(3) {
          font-size: 32px;
          @media (max-width: 800px) {
            font-size: 23px !important;
          }
        }

        &:nth-child(5) {
          font-size: 17px;
          @media (max-width: 800px) {
            font-size: 11px !important;
          }
        }
      }
    }
    & .target-paragraph-3 {
      padding-top: 0px;

      > span {
        &:nth-child(1) {
          font-size: 17px;
          @media (max-width: 800px) {
            font-size: 12px !important;
          }
        }

        &:nth-child(2) {
          font-size: 32px;
          @media (max-width: 800px) {
            font-size: 23px !important;
          }
        }

        &:nth-child(3) {
          font-size: 32px;
          @media (max-width: 800px) {
            font-size: 23px !important;
          }
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          font-size: 17px;
          @media (max-width: 800px) {
            font-size: 12px !important;
          }
        }
      }
    }
    .img-1 {
      width: 246.196px;
      height: 259.732px;
      @media (max-width: 800px) {
        width: 180px !important;
        height: 190px !important;
      }
    }
    .img-2 {
      width: 220px;
      height: 228.434px;
      @media (max-width: 800px) {
        width: 150px !important;
        height: 180px !important;
      }
    }
    .img-3 {
      width: 247px;
      height: 214px;
      @media (max-width: 800px) {
        width: 150px !important;
        height: 170px !important;
      }
    }
  }
}