@font-face {
    font-family: 'Unbounded';
    src: url('../../public/assets/fonts/Unbounded/Unbounded-Medium.ttf')
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf')
}

@font-face {
    font-family: 'Plus Jakarta Sans Light';
    src: url('../../public/assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.ttf')
}