.sign-up-area-1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;

    .sign-up-top-left-box {
        width: 130px;
        background: #BE3455;
        color: #F4E41E;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 900;
        margin-bottom: 60px;
        text-align: center;
        cursor: pointer;
    }

    .sign-up-highlighted-word-grid-1 {
        font-size: 40px;
        font-weight: bold;;
        display: contents;
        color: #BE3455;
        padding: 0 5px;
    }

    p {
        text-align: left;
        font-size: 20px;
    }
    
    .sign-up-grid-1-button {
        justify-content: left;
        display: flex;
    }

    button {
        font-size: 20px;
        border-radius: 20px;
        width: 60%;
        display: flex;
        justify-content: center;
        background: #BE3455;
        color: white;
        padding: 10px 20px;
        border: none;
        margin-top: 30px;
        cursor: pointer;

        &:hover {
            color: white;
            opacity: 0.5;
          }
    }

    .sign-up-arrow-button {
        background-image: url("../../assets/arrow.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: bottom 9px right 50px;        
    }

    .sign-up-grid-item-image {  
        display: flex;
        justify-content: right;
        img {
            height: 70%;
        }
    }

    // @media screen and (max-width: 1300px) {
    //     .sign-up-grid-item-image {  
    //         display: flex;
    //         margin-left: 100px;
    //         margin-top: 50px;
    //     }
    //   }

    input {
        border: none;
        border-radius: 10px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    @media screen and (max-width: 1200px) {
        .sign-up-arrow-button {
            background-image: none;  
        }
    }
}



@media screen and (max-width: 1000px) {
    .sign-up-area-1 {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 40px;
        justify-content: center;
        
        p {
            text-align: center !important;
            font-size: 20px;
        }
    }

    .sign-up-grid-item-image {  
        justify-content: center !important;
    }

    .sign-up-grid-1-button {
        justify-content: center !important;
    }

    .sign-up-grid-item {
        text-align: center;
    }
    
    .sign-up-success {
        .sign-up-top-left-box {
            margin-left: 20px; 
        }
        
    
    }
}